@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    overflow-x:hidden;
}

.group:hover .group-hover\:scale-100 { transform: scale(1) }

.scale-0 { transform: scale(0);
min-width: 12%;
 }
 .carosuel{
     height: 500px;
 }
 @media(max-width:500px){
.carosuel{
    height:170px;
}
.explore{
    visibility: hidden;
}
.acctext{
    font-size: 15px;
}
}
.explore{
    margin-top:420px;
}
.category:hover{
    background-color: yellow;
}
.btn{
    background-color: yellow;
}
.btn:hover{
    background-color: black;
}
.text{
    font-size: 12px;
   margin-top: 6px;
}
@media(min-width:1500px){
    .text{
        font-size: 14px;
    }
    .acctext{
        font-size: 25px;
        line-height: 40px;
    }
}
.account:hover{
border-bottom: 3px solid black;
}
.acctext{
    font-size:20px ;
    line-height:32px ;
}
